{% extends 'layout.html' %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="col-lg">
      <div>
        
        <form class="form-group float-right" action="{{url_for('players.clearSession')}}", method="POST" >
            {{ sessionForm.hidden_tag() }}
            <div class="form-group float-right">
                {{ sessionForm.submitSession(class="btn btn-danger") }}
            </div>
          </form>

        <form class="form-group float-right" action="{{ url_for('players.ppg_mpg') }}", method="POST">
            {{ ppg_mpgForm.hidden_tag() }}
            <div class="form-group">
              {{ ppg_mpgForm.submit_ppg_mpgForm(class="btn btn-warning") }}
            </div>
          </form>

          <form class="form-group float-right" action="{{ url_for('players.age_mpg') }}", method="POST">
            {{ ppg_mpgForm.hidden_tag() }}
            <div class="form-group">
              {{age_mpgForm.submit_age_mpgForm(class="btn btn-warning") }}
            </div>
          </form>

          <h3>Player Stats Page</h3>
      </div>
      <hr/>
      
      <img src="{{ graph }}"/>
      
       
    

    </div>
  </div>
</div>
 
{% endblock %}

