{% extends 'layout.html' %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="col-lg">
      <div>
        
        
        <form class="form-group float-right" action="{{url_for('players.clearSession')}}", method="POST" >
            {{ sessionForm.hidden_tag() }}
            <div class="form-group float-right">
                {{ sessionForm.submitSession(class="btn btn-danger") }}
            </div>
          </form>
          <h3>Player Stats Page</h3>
      </div>
      <hr/>
    
      <img src="{{ graph }}"/>
       
    

    </div>
  </div>
</div>
 
{% endblock %}

